footer.footer
	.footer__container-footer
		.footer__container-footer__copyright
			| © Использование информации с сайта строго с согласия автора
			.footer__container-footer__login
				| ВХОД
				a(href="login.html").footer__container-footer__login-inner